*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background-image: url("../img/patt.png");
}

[class*="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

.header{
	display: flex;
	height: 100px;
	background-color:rgba(255,255, 255, 0.75);
	align-items: center;
}

.container{
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.col-2{
	flex: 0 0 16.66667;
	max-width: 16.66667;
}

.col-3{
	flex: 0 0 25%;
	min-width: 25%;
}

.col-4 {
   flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.logo{
	margin-top: 7px;
}

.col-6{
	flex: 0 0 50%;
	max-width: 50%;
}

.col-8{
	flex: 0 0 66.66667%;
	max-width: 66.66667%;
}

.col-9{
	flex: 0 0 75%;
	max-width: 75%;
}

.col-12{
	flex: 0 0 100%;
	max-width: 100%;
}

.menu{
	display: flex;
}

.menu a{
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-size: 21px;
    color:#2c71b8;
    text-decoration: none;
	border-left: 1px solid #2c71b8;
	transition: background-color .22s ease;
}

.fa-angle-down {
	font-size: 12px;
	color: #2c71b6;
	margin-left: 5px;
	margin-top: 5px;
}

.menu a:hover {
	background-color: #2c71b8;
	color:white;
}

.menu a:hover i {
    background-color: #2c71b8;
    color:white;
}

.menu li{
    width: 25%;
}

.menu li:last-child > a {
	border-right: 1px solid #2c71b8;
}

.menu > li:hover .fa-angle-down{
	color: #ffffff;
}

.menu li a:hover .fa-angle-down{
	transform: rotate(270deg);
}

.menu li:hover a  {
	background: #2c71b8;
	color: white;
}

.submenu {
	position: absolute;
	background-color:#2c71b8;
	display: none;
	z-index:3;
}

.submenu li a:hover{
	position: relative;
	background-color: white;
	color:#2c71b8;
}

.submenu li a:hover.menu a {
	color: white
}

.submenu a{
	color: white;
	width: 286px;
	justify-content: flex-start;
	padding-left: 25px;
}

.menu li:hover >.submenu{
	display: block;
	animation: slideup .5s ease;
 }

 @keyframes slideup{
	0%{
	   opacity: 0;
	   transform: translateY(18px);
	}
 
	100%{
	   opacity: 1;
	   transform: none;
	}
 }

.search-form{
	display: flex;
	border:1px solid #2c71b8;
	height: 40px;
	align-items: center;
}

.card{
	position: relative;
	display: flex;
	align-items: center;
	background-color: white;
	height: 40px;
	width: 40px;
	cursor: pointer;
	margin-top: 6px;
	margin-left: 7px;
}

#products-count{
	position: absolute;
	background-color: #2c71b8;
	border-radius: 50%;
	color: white;
	width: 21px;
	height: 20px;
	padding: 5px 7px;
	font-size: 13px;
	margin-bottom: 45px;
	right: 30px;
}

.search-form{
	display: flex;
	align-items: center;
	height: 40px;
	border:1px solid #2c71b6;
	margin-top: 5px;
}

.form-control {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	color:#2c71b8;
	line-height: 2;
	width: 160px;
	padding-left: 15px;
	background-color: transparent;
	border: none;
	outline: none;
}

.btn{
	padding: 7px 7px;
	color: #ffffff;
	border-color: #2c71b6;
	background-color: #2c71b6;
	cursor: pointer;
}

.fa-shopping-cart{
	position: relative;
	color: #2c71b6;
}
  
.card:hover {
	background-color: #2c71b6;
}
  
.fa-shopping-cart:hover{
	color: white;
}




/*--------------SLIDER-----------------*/
.slider-container {
	height: 400px;
	border-bottom: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
}

.slider{
    font-size: 100px;
    color: white;
    text-align: center;
    padding: 150px 0;
}

.slick-prev:before, .slick-next:before {
    content: url(../img/right.png);
    font-family: 'slick';
    font-size: 70px;
    line-height: 1;
    opacity: .75;
    color: white;
   background-color: transparent;
}

.slick-prev:before, .slick-prev:before {
    content: url(../img/left.png);
    font-family: 'slick';
    font-size: 70px;
    line-height: 1;
    opacity: .75;
    color: white;
   background-color: transparent;
}

.slick-dots li button::before {
    font-family: 'slick';
    display: block;
    width: 10px;
    height:10px;
    content: "";
    border: 1px solid #ffffff;
}

.slick-dots li.slick-active button:before {
    background-color: white;
}




/*----------------MAIN----------------*/

.breadcrumb {
	display: flex;
	padding: 30px 0 0 0;
    opacity: 0.5;
    background-color: transparent;
	list-style: none;
    font-size: 14px;
}

.breadcrumb a{
	color: #ffffff;
	text-decoration: none;
	padding: 0 12px 0;
}

.breadcrumb li a:hover{
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #ffffff;
}

.title{
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    padding: 23px 0 0 0;
}

.selectmenu {
    width: 100%;
    margin-top: 20px;
    padding: 9px 18px 9px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: #2c71b6;
    font-size: 20px;
	outline: none;
}

option{
	background-color: #ffffff;
	color: #2c71b6;
	border: 1px solid white;
}

.product{
	position: relative;
	margin-top: 32px;
	 border: 1px solid #ffffff;
	 background-color: rgba(44, 113, 182, 0.5);
}

.product-img{
	display: flex;
	overflow: hidden;
	height: 180px;
	background-color: rgba(255, 255, 255, 0.75);
	align-items: center;
	justify-content: center;
}

.products-title,.product-description {
	margin-top: 15px;
	font-size: 30px;
	font-weight: 700;
	padding: 0 20px 3px;
}

.products-title,.product-description,.product-features, .product-price{
	color: #ffffff;
}

.product-description, .product-features{
	font-size: 21px;
	font-weight: 500;
	padding: 0 20px 20px;
}

span{
	font-weight: 700;
}

.product-price{
	display: flex;
	font-size: 48px;
	font-weight: 700;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

sup{
	font-size: 28px;
	margin-bottom: 20px;
	margin-left: 8px;
}

.more-detail{
	display: flex;
	margin: 20px 33px;
    padding: 11px 31px 8px;
    text-transform: uppercase;
    color: #ffffff;
    border:1px solid white;
    font-size: 18px;
    font-weight: 700;
	margin-top: 30px;
}

.add-btn{
	display: flex;
	margin: 15px 33px;
	text-transform: uppercase;
	color: #ffffff;
	border:1px solid white;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 21px 8px;
}

.more-detail:hover{
	background-color: rgba(255, 255, 255, 0.75);
	transition: color .16s;
	color: #2c71b6;
}

.add-btn:hover {
	background-color: rgba(255, 255, 255, 0.75);
	transition: color .20s;
	color: #2c71b6;
	content: "\f07a";
}

.add-btn{
	transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
}

.fa-shopping-cart__one::after {
   content: "\f07a";
	font-size: 15px;
	padding-left: 10px;
}

.zoom {
	position: absolute;
	top:5px;
	right: 5px;
}

.like{
	top: 50px;
    width: 33px;
    height: 33px;
    position: absolute;
    border: 1px solid #2c71b8;
    right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/blue-heart.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top:2px
}

.like:hover,.liked {
    background-image: url(../img/white-heart.png);
    background-color:#2c71b8;
    transition:all 0.4s ease-out;
}

.expand {
	display: flex;
	border:1px solid #2c71b6;
	background-color: transparent
}

.fa-heart{
	content: "\f004";
	font-size: 18px;
	font-weight:600;
	color: #2c71b6;
}

.fa-expand::before{
    content: "\f065";
	font-size: 20px;
	font-weight:600;
	color: #2c71b6;
 }



/*----------------ASIDE----------------*/

.sidebar{
	border-right: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
	padding: 15px 30px 30px;
    color: #ffffff;
}

.form-item{
	margin-bottom: 20px;
}

.title-item{
	font-size: 21px;
	font-weight: 800;
	margin-top: 15px;
	margin-left: 5px;
}

.form-item .form-check{
	margin: 14px 0;
}

.form-check{
	position: relative;
	display: block;
}

.sidebar .form-check-input::before {
    display: block;
    width: 9px;
    height: 9px;
    margin-top: -0.72rem;
    content: "";
    border: 1px solid #ffffff;
}

.sidebar .form-check-input:checked::before {
    background-color: #ffffff;
}

.form-check-input{
	margin-right: 8px;
	margin-top: 25px;
}

.sidebar .form-check-input{
	height: 0;
}

.form-check-label{
	font-size: 21px;
}

.sidebar__more{
	font-size: 21px;
	color: #ffffff;
	text-decoration: none;
}

.sidebar__more:hover{
	text-decoration: underline;
}

.submit{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 32px 10px;
    text-transform: uppercase;
    color: #ffffff;
    border:1px solid white;
    font-size: 18px;
    font-weight: 700;
	margin-top: 21px;
	width: 200px;
}

.submit:hover{
	background-color: rgba(255, 255, 255, 0.75);
	transition: color .16s;
	color: #2c71b6;
	border: 2px  solid #2c71b6 ;
}

/*----------------FOOTER----------------*/

.footer{
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 150px;
}

.footer-copyright  {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: #2c71b6;
    font-size: 21px;
}

.modal {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-block {
    width: 280px;
    height: 240px;
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    margin: 100px auto;
}

.btn-wrap {
    display: flex;
    justify-content: flex-end;
}
.btn-wrap .btn-close {
    cursor: pointer;
}
.form-field {
    margin-bottom: 15px;
}
.form-field input {
    width: 100%;
   height: 30px;
}

.show{
    display: block;
}

.hide{
    display: none;
}
